.Main {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 80%;
	min-height: 100vh;
	max-width: 1000px;
	
	header {
		flex-grow: 0;
	}
	
	section {
		flex-grow: 1;
	}
	
	footer {
		flex-grow: 0;
	}
}
