$padding-h: 15px;
$padding-top: 15px;
$padding-bottom: 20px;
$margin-h: 10px;
$margin-v: 10px;

.Lesson {
	padding: $padding-h;
	margin: $margin-v $margin-h;
	
	h1 {
		font-size: 23px;
		margin: 0;
	}
	
	h2 {
		font-size: 20px;
		margin: 0;
	}
	
	ul {
		list-style-position: outside;
		margin-left: $padding-h;
		
		li {
			margin-left: 15px;
			
			a:hover {
				cursor: pointer;
			}
		}
	}
}

.LessonSnippet {
	cursor: pointer;
}

.LessonDetail {
	position: relative;
	
	.less-detail {
		position: absolute;
		bottom: -$padding-bottom;
		right: 0;
	}
	
	.less-detail:hover {
		cursor: pointer;
	}
}

